# Ignore node_modules directory
node_modules/

# Ignore all .log files
*.log

# Ignore all .env files
.env

build/
dist/

# Dependency directories
jspm_packages/

# IDE configurations (e.g., Visual Studio Code)
.vscode/
.idea/

.env/
